<!DOCTYPE html>
<html ng-app="dungeonRevolt">
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>My Site</title>
  </head>
  <body>

    <header>
        <div class="header-text">Dungeon Revolt</div>
    </header>

    <div class="content">
      <div class="characters">
        <users-directive></users-directive>
      </div>

      <pre ng-if="UsersCtrl.activeCharacter" class="gameboard">{{ UsersCtrl.gameboard }}</pre>
      <pre ng-if="!UsersCtrl.activeCharacter" class="gameboard">Please pick a character from the sidebar.</pre>


      <div class="sidebar">
          sidebar
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="app.js"></script>
    <script src="directives/users/users.js"></script>
    <script src="mainService.js"></script>

  </body>
</html>
