html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

header {
  font-size: 30px;
  height: 50px;
  background-color: black;
  color: white;
    display: flex;
    justify-content: center;
}

.header-text{
    align-self: center;
}

.content {
  display: flex;
}

.characters {
  flex: 0 0 25%;
  height: 400px;
}

.gameboard {
  flex: 0 0 50%;
  height: 400px;
  background-color: blue;
}

.sidebar {
    flex: 0 0 25%;
    height: 400px;
    background-color: yellow;
}
